body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.card-bg
{
  background-color: #D0D0D0;
}
.card-out-pad
{
  padding:20%
}
.card
{
  background-color: white;
  padding: 10%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
}